In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset = pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [ ]:
dataset.columns

In [5]:
independent = dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [6]:
dependent = dataset[['charges']]

In [7]:
#Spliting the training and test dataset using sklearn library
from sklearn.model_selection import train_test_split
#calling the Split function and adding the split percentage and also assigning it to variable
X_train,X_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [ ]:
#Standarisation
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [ ]:
X_train

In [ ]:
#importing SVM class from sklearn
from sklearn.svm import SVR
#loading all the functions of SVR
regressor=SVR(kernel="sigmoid",C=5000)
regressor.fit(X_train,y_train)

In [ ]:
#Decision Tree
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor(criterion='poisson',splitter='best',max_features='log2')
regressor=regressor.fit(X_train,y_train)

In [37]:
#Random Forest
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(criterion ='poisson',n_estimators = 500,random_state=0,max_features='log2')
regressor=regressor.fit(X_train,y_train)

C:\Users\Acer\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [38]:
y_pred=regressor.predict(X_test)
#y_pred

In [39]:
#calculating the r2 score
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.8714799458343443